* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: gray;
}

/* side bar & date */
.home  {
    writing-mode: vertical-lr; 
    margin: 100px 0 0 65px;
    transform: rotate(180deg);
    text-decoration: none;
    color: gray;
}
.line-divider {
    border-left: 2px solid gray;
    height: 60%;
    margin: 50px 0 0 70px;
}
.date {
    writing-mode: vertical-lr; 
    margin: 100px 0 0 65px;
    transform: rotate(180deg);
}

/* introduction */
#intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}
.hello {
    font-size: 100px;
}
.quote {
    font-size: 20px;
    line-height: 1.5;
}
.fa-solid {
    padding: 15px 15px 0 0;
}
.fa-solid, .fa-brands {
    font-size: 25px;
    color: gray;
}
