* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

#navbar {
    font-size: 80px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}
#navbar nav {
    display: flex;
    flex-direction: column;
}

#navbar a {
    text-decoration: none;
    align-self: flex-end;
}