* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

/* side bar & date */
.line-divider {
    border-left: 2px solid black;
    height: 60%;
    margin: 100px 0 0 70px;
}
.date {
    writing-mode: vertical-lr; 
    margin: 100px 0 0 65px;
    transform: rotate(180deg);
}

/* description */
#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 100px;
}
#description h1 {
    font-size: 80px;
    padding-bottom: 10px;
    /* font-family: "Parisienne", cursive; */
}
#description p {
    font-size: larger;
}

/* navbar */
#navbar {
    display: flex;
    align-items: center;
    margin: auto;
}
ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    font-size: 100px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 1em;
    text-decoration: none;
    /*text outline*/
    color: transparent;
    -webkit-text-stroke: 1px rgba(111, 111, 111, 0.5);
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--tc);
    width: 0;
    overflow: hidden;
    transition: 1s;
    /* border-left: 8px solid var(--tc); */
    -webkit-text-stroke: 1px var(--tc);
    white-space: nowrap;
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 2px var(--tc));
    overflow: hidden;
}
