* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

/* side bar & date */
.line-divider {
    border-left: 2px solid black;
    height: 60%;
    margin: 100px 0 0 70px;
}
.date {
    writing-mode: vertical-lr; 
    margin: 210px 0 0 65px;
    transform: rotate(180deg);
}

/* description */
#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-top: 15%;
}
#description h1 {
    font-size: 80px;
    padding-bottom: 15px;
    /* font-family: "Parisienne", cursive; */
}
#description p {
    font-size: larger;
}

/* navbar */
#navbar {
    font-size: 100px;
    font-weight: 900;
    font-style: normal;
    margin: auto;
    /* padding-left: 10%; */
}
#navbar nav {
    display: flex;
    flex-direction: column;

}

#navbar a {
    text-decoration: none;
    align-self: flex-start;

    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white; 

    font-family: "Montserrat", sans-serif;
}