img {
  width: 70px;
}
.hero-header {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.chinese-date {
  display: flex;
  flex-direction: row;
}
