.hero-container {
  height: 500px;
  display: flex;
  padding: 32px;
}

.left,
.right {
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: 32px;
  color: var(--text-h);
}
.left {
  border-right: 3px solid var(--border);
  padding-right: 64px;
}
.right {
  border-left: 3px solid var(--border);
  padding-left: 64px;
}
.center {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.a-day {
  background-color: var(--text-h);
  color: var(--white);
  padding: 3px 8px 5px 8px;
  border-radius: 5px;
  border: none;
}
.intro {
  padding-top: 135px;
}
.intro > h1 {
  color: var(--text-h);
  margin-bottom: 0;
}
.intro > h1::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--border);
  width: 70%;
  margin: 18px 0 0 0;
}
.intro > p {
  color: var(--text-p);
  font-weight: 500;
  font-size: 1.225rem;
  font-style: italic;
  border-left: 3px solid var(--border);
  padding-left: 12px;
}
.intro > h3 {
  margin: 8px 0 0 0;
}

.skills-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.frame {
  position: relative;
  width: 100%;
  padding: 16px 0 0 0;
}

.corner {
  position: absolute;
  width: 80px;
  height: 80px;
}

.corner.tl {
  top: 0;
  left: 0;
  transform: rotate(90deg);
}
.corner.tr {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}
.corner.bl {
  bottom: 0;
  left: 0;
  transform: rotate(360deg);
}
.corner.br {
  bottom: 0;
  right: 0;
  transform: rotate(270deg);
}
